.letter
{
    width: 40px;
    height: 35px;
    font-size: 19px;
    text-align: center;
    margin: 1px;
    border: 3px solid gray;
    float: right;
    cursor: pointer;
    border-radius: 5px;

}

.d_letter
{
    width: 40px;
    height: 35px;
    font-size: 19px;
    text-align: center;
    margin: 1px;
    border: 3px solid gray;
    float: right;
    cursor: pointer;
    border-radius: 5px;

}

h3{
    padding-left: 14px;
}
#content_cat{
    margin-top: 40px;
    margin-bottom: 108px;
}
#boxes-to-generate-tasks{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: none;
    float: left;
    font-size: 16px;
}
#boxes-to-generate-tasks input{
    color: black;
    background-color: white;
    width: 60px;
    height: 30px;
    margin-right: 20px;
}
#boxes-to-generate-tasks select{
    color: black;
    background-color: white;
    width: 50px;
    height: 30px;
    margin-right: 20px;
}

#ieee754 select{
    color: black;
    background-color: white;
    width: 150px;
    height: 30px;
    margin-right: 20px;
}

#arg_number{
    display: inline;
}
input{
    color: black;
}


input[type='number'] {
    -moz-appearance:textfield;
}

#arguments{
    border-top: 2px solid white;
}

#results {
    border-top: 2px solid white;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* ///////////////////////////////// POP UPS ///////////////////// */
.popup {
    position: relative;
    display: inline-block;
    float: right;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.task_category{
    float:left;
    font-size: 20px;
    max-resolution: 5px;
    padding: 5px;
    width: 25%;
    text-align: center;
    border: 2px solid white;
    background-color: black;

}

.task_category:hover{
    background-color: #5d706e;
}
.task_category button{
    border: none;
}
.task_category button::selection{
    background-color: #5d706e;
}
#category {

    width: 100%;
    height: 80px;
}
/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 40px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: -87%;

}


/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
#exchange {
    display: none;
    margin-top: 10px;
    font-size: 16px;
}

#exchange input {
    color: black;
    background-color: white;
    width: 60px;
    margin-right: 20px;
}

#exchange select{
    color: black;
    background-color: white;

    margin-right: 20px;
}

#fieldsForC{
    margin-top: 25px;
}

.exchangeResult{
    width: 130px;
    height: 26px;

}

#ieee754{
    display: none;
}
