h1 {
    color: lightgray;

    text-align: center;
    font-family: monospace;
}

footer {
    position: static;
    margin-top: 20px;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #222;
}
.nav>li {
    position: relative;
    display: block;
    padding-left: 10px;
}

.nav>li:hover {
    background-color: #5d706e;

}
footer p {
    padding: 15px;
    font-size: 15px;
}
.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

.navbar-inverse .navbar-nav>.active>a:hover{
    background-color: #5d706e;
}

.navbar-inverse{
    background-color: #080808;
}
.box-by-me {
    width: 150px;
    height: 150px;
    padding-top: 5%;
    text-align: center;
    border: 3px outset #ffffff;
    margin: 20px;
    float: left;
    color: white; !important;
    font-family: cursive;
    font-size: 20px;
    background-color: #000000;
    border-radius: 5%;
    transform-origin: bottom center;
    text-decoration: dashed;
}

.box-by-me:hover{
    background-color: #2B4657;
    border: 3px inset #cecece;
}
.td-tasks{
    min-height: 50px;
    width: 80%;
    margin-bottom: 2px;
    background-color: #ccc;
    padding: 15px;
    float: none;
    font-family: cursive;
    text-align: center;
}
.task-id{
    width: 4%;
    float: left;
    color: black;
    background-color: white;
    margin: 2px;

}
.task-question{
    width: 54%;
    color: black;
    float: left;
    background-color: white;
    margin: 2px;
    padding-left: 10px;
}
.task-answer{
    width: 35%;
    float: left;
    color: black;
    background-color: white;
    margin: 2px;
    padding-left: 10px;
}

#button-answer{

    height: 35px;
    width: 43px;
    background-color: #ccc;
    border-radius: 17%;
}
button:focus {
    outline:0;
    background-color: black;
}

button {
    outline:0;
    background-color: black;
}

#footer{

}
.container-big{
    min-height: 580px;
    width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 1px;

    border-radius: 20px;
    background-color: #000000;
    position: absolute;
    margin-left: 10%;
}
.body{
    background: #222222;/*transparent url(../img/background-blue.jpg) repeat-x fixed center top;*/
    color: lightgray;
    font-family: monospace;

  /*  background-image: linear-gradient(to bottom right, #197080, #b0c1c0);*/
}



.navbar-inverse .navbar-nav>.active>a{
    font-family: monospace;
    font-size: 18px;
}

