<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>Materiały dydaktyczne</h1>

    <a href="/task/all" th:href="@{/task/all}">
        <div class="box-by-me">dodawanie / odejmowanie</div>
    </a>

    <a href="/task/all" th:href="@{/task/all}">
        <div class="box-by-me">mnożenie</div>
    </a>
    <a href="/task/all" th:href="@{/task/all}">
        <div class="box-by-me">dzielenie</div>
    </a>

    <a href="/task/all" th:href="@{/task/all}">
        <div class="box-by-me">pierwiastkowanie</div>
    </a>

    <a href="/task/all" th:href="@{/task/all}">
        <div class="box-by-me">konwersja podstawy</div>
    </a>
    <a href="/task/all" th:href="@{/task/all}">
        <div class="box-by-me">zmienny przecinek</div>
    </a>
</div>
</body>
</html>