<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
    <script type="text/javascript" th:src="@{/js/anime/anime.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/ownAnime.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materials.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div id="cssSelector">
        <div class="line">
            <div class="square el"></div>
        </div>
    </div>
    <h1>materiały dydaktyczne</h1>

    <a th:href="@{/algoTasks/draw(category='addition')}">
        <div class="box-by-me">dodawanie / odejmowanie</div>
    </a>

    <a th:href="@{/algoTasks/draw(category='multiplication')}">
        <div class="box-by-me">mnożenie</div>
    </a>
    <a th:href="@{/algoTasks/draw(category='division')}">
        <div class="box-by-me">dzielenie</div>
    </a>

    <a  th:href="@{/algoTasks/draw(category='root')}">
        <div class="box-by-me">pierwiastek</div>
    </a>

    <a th:href="@{/algoTasks/draw(category='exchange')}">
        <div class="box-by-me">konwersja podstawy</div>
    </a>
    <a  th:href="@{/algoTasks/draw(category='ieee')}">
        <div class="box-by-me">zmienny przecinek</div>
    </a>

</div>

</body>
</html>