<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Admin</title>
    <script type="text/javascript" th:src="@{/js/algo.js}"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <script type="text/javascript" th:src="@{/js/checker.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/algo.css}"/>
</head>
<body >
<div layout:fragment="content" th:remove="tag">
    <h1>Parametry zadania</h1>

    <div id="boxes-to-generate-tasks">
        <label for="operation_type">Typ operacji</label>:
        <select onchange="showArgsNumberChoice();" id="operation_type">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

    <label for="system_base_for_generate_task">Podstawa</label>:
        <input type="number" id="system_base_for_generate_task">

    <label for="arg_size_for_generate_task">Długość liczby</label>:
        <input type="number" id="arg_size_for_generate_task">
<div id="arg_number">
         <label for="arg_number_for_generate_task">Liczba argumentów</label>:
        <input type="number" id="arg_number_for_generate_task">
</div>
    <button th:onclick="|generateArguments()|">Losuj liczby</button>
    <button th:onclick="|checkUsersAnswer(${'the_c_element_id'}); checkUsersAnswer(${'the_s_element_id'})|">Sprawdź odpowiedź</button>
    </div>

    <div id="fieldsForC"></div>
    <div id="arguments"></div>
    <div id="partial"></div>
    <div id="results"></div>

</div>
</body>
</html>